<html>
<head>
<style>

BODY {margin:0;
    
    font-size: 18px;
    width:95%;
    height:100%;
    font-weight: Light;
    font-family:"HelveticaNeue";
    color: #0A0A0A;
	background-color: #F4F4F4;
    -webkit-text-size-adjust: none;
    
    font-size: 1.0em;
    line-height: 1.5em;
}
div.figure {
    float:top; /* important */
    position:relative; /* important(so we can absolutely position the description div */
    width: 95%;
    padding: 5px;
    margin:8px 25px 8px 0px;
    border:1px solid #DCDCDC;
    background-color:#F0F0F0;
}
div.figure p {
    margin-left:3px;
    margin-right:3px;
    font-size:14px;
    font-weight:bold;
    color:rgb(128,128,128)
    font-family:"HelveticaNeue";
    font-style:"Medium";

}
img.scaledImage{
    width: 100%;
}
#photo_article{
    width:100%;
    float:center;
}
img.photo_article {
    
    position:right;
    
    
}
html * {font-weight:normal;}
p#photo_article_caption {
    width:45%;
    position:right;
    font-size:14px;
    font-weight:bold;
    color:rgb(128,128,128)
    font-family:"HelveticaNeue";
    font-style:"Medium";
    

}

a {
    color: #A50000;
    text-decoration: none;
}

.newstype {
    display:none;
    font-style:italic;
    
}
ul li {
    display:none;
    font-style:italic;
    font-size:11px;
    list-style:none;
    
}

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}

input,
textarea {
    -webkit-user-select: auto;
}

h1 {
    
    font-size: 1.5em;
    line-height: 1em;
    color:rgba(42, 41, 41, 1);
    text-align: center;
    color: #222;
    font-family:"HelveticaNeue";
    font-style:"Medium";
}

p {
    color:rgba(42, 41, 41, 1);
}



hr {
    height: 1px;
    color: #DCDCDC;
    background-color: #DCDCDC;
    border: 0;
}
@media only screen and (max-device-width: 320px) {
	body {
		margin:0px 10px;
	}
}

@media only screen and (max-device-width: 460px) and (orientation:landscape) {
	#content {
		-webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
	}
}


#footer {
    clear: both;
}
html {
    -webkit-text-size-adjust: none; /* Never autoresize text */
}

.navigation {position:static  padding 0px,2px,0px,2px; margin-top:5px;}
.webview {position:static;left:0px;}
.webview img {position:relative;left:0px;width:84px;height:24px;padding:0;margin:0;border:0 !important;}

a.webview {
    display: block;
    height: 20px;
    width: 20px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    background-repeat:no-repeat;
}

a.webview {
    background-image: url('menu_tile.png');
}

.browser {position:absolute;right:10px; top:2px;}
.browser img {position:relative;right:0px;width:84px;height:24px;padding:0;margin:0;border:0 !important;}

a.browser {
    display: block;
    height: 24px;
    width: 84px;
    -webkit-background-size: 84px 24px;
    background-size: 84px 24px;
    background-repeat:no-repeat;
}

a.browser {
    background-image: url('article_reader_webview_btn_day.png');
}

</style>

<script type="text/javascript">
window.onload = function() {
    window.location.href = "ready://" + document.body.offsetHeight;
    </script>

<meta name="viewport" content="width=device-width" />

</head> 

<BODY>