<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Latest News</string>
		<key>url</key>
		<string>popular</string>
		<key>primaryColor</key>
		<string>1abc9c</string>
		<key>secondaryColor</key>
		<string>16a085</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Business</string>
		<key>url</key>
		<string>popular/Business</string>
		<key>primaryColor</key>
		<string>E67E22</string>
		<key>secondaryColor</key>
		<string>E67E22</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Technology</string>
		<key>url</key>
		<string>popular/Technology</string>
		<key>primaryColor</key>
		<string>2ecc71</string>
		<key>secondaryColor</key>
		<string>27ae60</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<false/>
		<key>sectionId</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sports</string>
		<key>url</key>
		<string>popular/Sports</string>
		<key>primaryColor</key>
		<string>e74c3c</string>
		<key>secondaryColor</key>
		<string>c0392b</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Counties</string>
		<key>url</key>
		<string>popular/Counties</string>
		<key>primaryColor</key>
		<string>3498db</string>
		<key>secondaryColor</key>
		<string>2980b9</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Blogs</string>
		<key>url</key>
		<string>popular/Blogs</string>
		<key>primaryColor</key>
		<string>9b59b6</string>
		<key>secondaryColor</key>
		<string>8e44ad</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lifestyle</string>
		<key>url</key>
		<string>popular/Lifestyle</string>
		<key>primaryColor</key>
		<string>34495e</string>
		<key>secondaryColor</key>
		<string>2c3e50</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>6</string>
	</dict>
</array>
</plist>
