<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Top Stories</string>
		<key>url</key>
		<string>?json=1</string>
		<key>primaryColor</key>
		<string>1abc9c</string>
		<key>secondaryColor</key>
		<string>16a085</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Reviews</string>
		<key>url</key>
		<string>category/reviews/?json=1</string>
		<key>primaryColor</key>
		<string>E67E22</string>
		<key>secondaryColor</key>
		<string>E67E22</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<true/>
		<key>sectionId</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Editorial</string>
		<key>url</key>
		<string>category/editorial/?json=1</string>
		<key>primaryColor</key>
		<string>2ecc71</string>
		<key>secondaryColor</key>
		<string>27ae60</string>
		<key>enabled</key>
		<true/>
		<key>show</key>
		<false/>
		<key>sectionId</key>
		<string>3</string>
	</dict>
</array>
</plist>
